# Metrics Fetcher

Data fetched using the metrics fetcher application is stored in an SQLite database. This notebook will help analyze the content of this database.


Firstly, we will import dependencies and set constants for this analysis:

In [325]:
import sqlite3
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

db_path = "storage.db"
conn = sqlite3.connect(db_path)
np
conn.close()

Next would be to extract data from the database:

In [323]:
# region SQL queries to extract data
cpuMetrics = pd.read_sql_query("SELECT * FROM CPUMetricProvider WHERE 1=1 ORDER BY id", conn)
processMetrics = pd.read_sql_query("SELECT * FROM ProcessMetricProvider WHERE 1=1 ORDER BY id", conn)
memoryMetrics = pd.read_sql_query("SELECT * FROM RAMMetricProvider WHERE 1=1 ORDER BY id", conn)
storageMetrics = pd.read_sql_query("SELECT * FROM StorageMetricProvider WHERE 1=1 ORDER BY id", conn)
# networkMetrics = pd.read_sql_query("SELECT * FROM NetworkMetricProvider WHERE 1=1 ORDER BY id", conn)
scriptMetrics = pd.read_sql_query("SELECT * FROM ScriptData WHERE 1=1 ORDER BY id", conn)

cpuMetrics['timestamp'] = cpuMetrics['timestamp'] // 100 * 100
cpuMetrics['counterU'] = cpuMetrics['timestamp'].astype(str) + cpuMetrics['counter'].astype(str)
cpuMetrics.head()

,id,name,counter,usage,instructionsRetired,cycles,floatingPointOperations,temperature,timestamp,counterU
0,1,CPU,0,30.97320,0.0,0.0,0.0,0.0,1704935000,17049350000
1,2,CPU,1,5.12935,0.0,0.0,0.0,0.0,1704935000,17049350001
2,3,CPU,2,4.46969,0.0,0.0,0.0,0.0,1704935000,17049350002
3,4,CPU,3,5.77369,0.0,0.0,0.0,0.0,1704935000,17049350003
4,5,CPU,4,24.02100,0.0,0.0,0.0,0.0,1704935000,17049350004

In [314]:
processMetrics['timestamp'] = processMetrics['timestamp'] // 100 * 100
processMetrics['counterU'] = processMetrics['timestamp'].astype(str) + processMetrics['counter'].astype(str)
processMetrics.head()

,id,name,counter,processCount,activeProcess,activeWindow,bytesReadPerSecond,bytesWrittenPerSecond,timestamp,counterU
0,1,Process,0,236.0,WindowsTerminal.exe,ICE,533873.0,2431480.0,1704935000,17049350000
1,2,Process,2,235.0,WindowsTerminal.exe,ICE,425455.0,185232.0,1704935000,17049350002
2,3,Process,3,235.0,WindowsTerminal.exe,ICE,1143460.0,150020.0,1704935000,17049350003
3,4,Process,4,234.0,WindowsTerminal.exe,ICE,157642.0,216894.0,1704935000,17049350004
4,5,Process,5,237.0,chrome.exe,My Drive - Google Drive - Google Chrome,2422430.0,2428540.0,1704935000,17049350005

In [315]:
memoryMetrics['timestamp'] = memoryMetrics['timestamp'] // 100 * 100
memoryMetrics['counterU'] = memoryMetrics['timestamp'].astype(str) + memoryMetrics['counter'].astype(str)
memoryMetrics.head()

,id,name,counter,available,committed,pageFaults,timestamp,counterU
0,1,Memory,1,1.042080e+10,6.683400e+09,40261.80,1704935000,17049350001
1,2,Memory,1,1.043660e+10,6.546320e+09,1417.09,1704935000,17049350001
2,3,Memory,2,1.036550e+10,6.619230e+09,2705.25,1704935000,17049350002
3,4,Memory,3,1.043950e+10,6.535710e+09,2359.37,1704935000,17049350003
4,5,Memory,5,1.016410e+10,6.902400e+09,28631.70,1704935000,17049350005

In [316]:
storageMetrics['timestamp'] = storageMetrics['timestamp'] // 100 * 100
storageMetrics['counterU'] = storageMetrics['timestamp'].astype(str) + storageMetrics['counter'].astype(str)
storageMetrics.head()

,id,name,counter,read,write,transferRate,timestamp,counterU
0,1,Storage,1,464097.00,14108600.0,14572600.0,1704935000,17049350001
1,2,Storage,2,9395.95,580609.0,590005.0,1704935000,17049350002
2,3,Storage,3,0.00,142101.0,142101.0,1704935000,17049350003
3,4,Storage,4,40885.20,278428.0,319314.0,1704935000,17049350004
4,5,Storage,4,1194330.00,2200020.0,3394350.0,1704935000,17049350004

In [317]:
scriptMetrics['timestamp'] = scriptMetrics['timestamp'].round(2)
scriptMetrics['counterU'] = scriptMetrics['timestamp'].astype(str) + scriptMetrics['counter'].astype(str)
scriptMetrics.head()

   id  counter                   key     value   timestamp       counterU
0   1      329  ProcessorPerformance  115.0510  1704938338  1704938338329
1   2      330  ProcessorPerformance  123.5160  1704938348  1704938348330
2   3      331  ProcessorPerformance   90.8270  1704938358  1704938358331
3   4      332  ProcessorPerformance  121.9960  1704938368  1704938368332
4   5      333  ProcessorPerformance   75.5344  1704938378  1704938378333

In [318]:
scriptMetrics = scriptMetrics.pivot(index='counterU', columns='key', values='value').reset_index()
scriptMetrics.head()

key       counterU  ProcessorPerformance
0    1704938338329              115.0510
1    1704938348330              123.5160
2    1704938358331               90.8270
3    1704938368332              121.9960
4    1704938378333               75.5344

Now that we have all the tables we require, we will create labels for them.
The final goal is to create one single table with all the features we have seen,
so we will use a common prefix for the labeling.

In [319]:
# cpuMetrics, processMetrics, memoryMetrics, storageMetrics, scriptMetrics

# This indicates whether for each reading the CPU is in good state or not.
# We will use "1" and "0" to represent good and bad labels.
cpuMetrics["t_cpu_label"] = 1
cpuMetrics["t_cpu_label"] = np.where((cpuMetrics["usage"] > 80), 0, cpuMetrics["t_cpu_label"]);

processMetrics["t_proc_label"] = 1;
processMetrics["t_proc_label"] = np.where((processMetrics["bytesReadPerSecond"] < 2000000), 0, processMetrics["t_proc_label"]);

memoryMetrics["t_mem_label"] = 1;
memoryMetrics["t_mem_label"] = np.where((memoryMetrics["pageFaults"] > 500000), 0, memoryMetrics["t_mem_label"]);

storageMetrics["t_store_label"] = 1;
storageMetrics["t_store_label"] = np.where((storageMetrics["transferRate"] < 9999999), 0, storageMetrics["t_store_label"]);

scriptMetrics["t_script_label"] = 1;
scriptMetrics["t_script_label"] = np.where((scriptMetrics["ProcessorPerformance"] < 9999999), 0, scriptMetrics["t_script_label"]);

# Merge the tables
cpuMetrics.drop(columns=["name", "counter", "id", "timestamp"], inplace=True)
processMetrics.drop(columns=["name", "counter", "id", "timestamp", 'activeProcess', 'activeWindow'], inplace=True)
memoryMetrics.drop(columns=["name", "counter", "id", "timestamp"], inplace=True)
storageMetrics.drop(columns=["name", "counter", "id", "timestamp"], inplace=True)

combined_data = pd.merge(cpuMetrics, processMetrics, on='counterU', how='inner')
combined_data = pd.merge(combined_data, memoryMetrics, on='counterU', how='inner')
combined_data = pd.merge(combined_data, storageMetrics, on='counterU', how='inner')
combined_data = pd.merge(combined_data, scriptMetrics, on='counterU', how='inner')
combined_data = combined_data.dropna()
combined_data.head()

,usage,instructionsRetired,cycles,floatingPointOperations,temperature,counterU,t_cpu_label,processCount,bytesReadPerSecond,bytesWrittenPerSecond,...,available,committed,pageFaults,t_mem_label,read,write,transferRate,t_store_label,ProcessorPerformance,t_script_label
0,21.3881,0.0,0.0,0.0,0.0,1704941100605,1,269.0,882492.0,918451.0,...,9.205700e+09,8.958360e+09,1238.41,1,31037.30,286279.0,317316.0,0,106.063,0
1,21.3881,0.0,0.0,0.0,0.0,1704941100605,1,269.0,882492.0,918451.0,...,9.205700e+09,8.942090e+09,1079.91,1,31037.30,286279.0,317316.0,0,106.063,0
2,26.3479,0.0,0.0,0.0,0.0,1704941300625,1,267.0,2014350.0,1109710.0,...,9.180740e+09,8.988320e+09,3547.99,1,19973.90,287112.0,307086.0,0,138.853,0
3,20.5137,0.0,0.0,0.0,0.0,1704941400635,1,266.0,1026960.0,984250.0,...,9.232980e+09,8.919710e+09,1170.93,1,4964.92,160976.0,165941.0,0,130.845,0
4,27.9065,0.0,0.0,0.0,0.0,1704941500645,1,270.0,3177850.0,4404430.0,...,8.542560e+09,9.584890e+09,14058.60,1,41153.40,1341270.0,1382430.0,0,149.145,0

Now that we have our combined table, we can proceed with the steps to create a model

In [320]:
label_encoder = LabelEncoder()
combined_data['combined_label'] = combined_data[['t_cpu_label', 't_proc_label', 't_mem_label', 't_store_label', "t_script_label"]].mode(axis=1)[0]
combined_data['label_encoded'] = label_encoder.fit_transform(combined_data['combined_label'])

X = combined_data.drop(['counterU', 'combined_label','t_cpu_label', 't_proc_label', 't_mem_label', 't_store_label', "t_script_label"], axis=1)
y = combined_data['label_encoded']

X.fillna(0, inplace=True)

# for column in ['activeProcess', 'activeWindow']:
#     combined_data[column] = label_encoder.fit_transform(combined_data[column])

tf.config.run_functions_eagerly(True)
combined_data['counterU'] = combined_data['counterU'].astype('int64')
X = tf.constant(X.values, dtype=tf.float32)
y = tf.constant(y.values, dtype=tf.int32)
X

<tf.Tensor: shape=(16, 16), dtype=float32, numpy=
array([[2.13881e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.69000e+02, 8.82492e+05, 9.18451e+05, 9.20570e+09, 8.95836e+09,
        1.23841e+03, 3.10373e+04, 2.86279e+05, 3.17316e+05, 1.06063e+02,
        0.00000e+00],
       [2.13881e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.69000e+02, 8.82492e+05, 9.18451e+05, 9.20570e+09, 8.94209e+09,
        1.07991e+03, 3.10373e+04, 2.86279e+05, 3.17316e+05, 1.06063e+02,
        0.00000e+00],
       [2.63479e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.67000e+02, 2.01435e+06, 1.10971e+06, 9.18074e+09, 8.98832e+09,
        3.54799e+03, 1.99739e+04, 2.87112e+05, 3.07086e+05, 1.38853e+02,
        1.00000e+00],
       [2.05137e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.66000e+02, 1.02696e+06, 9.84250e+05, 9.23298e+09, 8.91971e+09,
        1.17093e+03, 4.96492e+03, 1.60976e+05, 1.65941e+05, 1.30845e+02,
        0.00000e+00],
       [2.79065e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.70000e+02, 3.17785e+06, 4.40443e+06, 8.54256e+09, 9.58489e+09,
        1.40586e+04, 4.11534e+04, 1.34127e+06, 1.38243e+06, 1.49145e+02,
        1.00000e+00],
       [7.58708e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.69000e+02, 8.71937e+05, 1.81587e+05, 8.82810e+09, 9.27239e+09,
        3.23213e+03, 3.93466e+04, 3.59038e+05, 3.98385e+05, 6.93504e+01,
        0.00000e+00],
       [7.58708e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.69000e+02, 8.71937e+05, 1.81587e+05, 8.81886e+09, 9.28830e+09,
        3.57250e+03, 3.93466e+04, 3.59038e+05, 3.98385e+05, 6.93504e+01,
        0.00000e+00],
       [1.40475e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.69000e+02, 1.08260e+05, 1.28022e+05, 8.70086e+09, 9.37740e+09,
        1.06899e+04, 5.82854e+05, 5.37200e+05, 1.12005e+06, 1.14697e+02,
        0.00000e+00],
       [1.27105e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.73000e+02, 9.82061e+04, 1.85363e+05, 8.73175e+09, 9.32635e+09,
        6.83555e+03, 5.12499e+02, 1.79580e+05, 1.80092e+05, 1.21458e+02,
        0.00000e+00],
       [2.53624e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.71000e+02, 1.27194e+06, 1.24162e+06, 8.88114e+09, 9.37762e+09,
        1.98696e+03, 5.11865e+01, 1.51154e+05, 1.51205e+05, 9.11758e+01,
        0.00000e+00],
       [5.28693e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.94000e+02, 4.05648e+05, 1.38637e+05, 3.32186e+06, 2.75532e+10,
        2.33526e+05, 8.33611e+07, 1.02783e+07, 9.36394e+07, 1.35426e+02,
        1.00000e+00],
       [5.28693e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        2.94000e+02, 4.05648e+05, 1.38637e+05, 3.32186e+06, 2.75532e+10,
        2.33526e+05, 1.10275e+08, 1.22499e+07, 1.22525e+08, 1.35426e+02,
        1.00000e+00],
       [4.92522e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        3.13000e+02, 1.12395e+05, 1.90098e+05, 8.87411e+09, 1.56247e+10,
        2.83413e+02, 1.14391e+04, 2.19386e+05, 2.30825e+05, 1.17805e+02,
        0.00000e+00],
       [2.21314e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        3.14000e+02, 1.71596e+06, 2.09101e+06, 8.65384e+09, 1.57570e+10,
        1.61178e+04, 5.49238e+05, 1.37837e+06, 1.92761e+06, 1.32947e+02,
        0.00000e+00],
       [2.21314e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        3.14000e+02, 1.71596e+06, 2.09101e+06, 8.56667e+09, 1.58564e+10,
        1.39830e+04, 5.49238e+05, 1.37837e+06, 1.92761e+06, 1.32947e+02,
        0.00000e+00],
       [1.38434e+01, 0.00000e+00, 0.00000e+00, 0.00000e+00, 0.00000e+00,
        3.17000e+02, 5.88435e+05, 4.96452e+05, 8.06870e+09, 1.61345e+10,
        3.39352e+03, 7.78813e+05, 1.99321e+06, 2.77202e+06, 1.55828e+02,
        0.00000e+00]], dtype=float32)>

In [321]:
X_train, X_test, y_train, y_test = tf.split(X, num_or_size_splits=[int(0.8 * len(X)), int(0.2 * len(X))])
y_train, y_test = tf.split(y, num_or_size_splits=[int(0.8 * len(y)), int(0.2 * len(y))])

model.add(Dense(64, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(len(merged_data['label_encoded'].unique()), activation='softmax'))

model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Loss: {loss:.4f}, Test Accuracy: {accuracy:.4f}')

InvalidArgumentError: {{function_node __wrapped__SplitV_num_split_2_device_/job:localhost/replica:0/task:0/device:CPU:0}} Determined shape must either match input shape along split_dim exactly if fully specified, or be less than the size of the input along split_dim if not fully specified.  Got: 15 [Op:SplitV] name: split